{% extends 'questions/base.html' %}

{% block content %}
<!-- <form method="POST"> {% csrf_token %}
    <p>Only one variable of interest?</p>
    {{ form.as_p }}
    <input type="submit" value="Save">
</form> -->
<div class="question">
    <h2>{{ node.question }}</h2>
    {% if node.no_node_id or node.yes_node_id %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ node.pk }}">
            <input type="submit" name="answer" value="Yes">
            <input type="submit" name="answer" value="No">
        </form>
    {% elif node.one_node_id or node.two_node_id or node.moreThanTwo_node_id %}    
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ node.pk }}">
            <input type="submit" name="answer" value="1">
            <input type="submit" name="answer" value="2">
            <input type="submit" name="answer" value="More than 2">
        </form>
    {% endif %}
</div>

<!-- <h3>{{ root_node.question }}</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="node_id" value="{{ root_node.pk }}">
    <input type="submit" name="answer" value="Yes">
    <input type="submit" name="answer" value="No">
</form> -->

<!-- <h3>{{ current_node.question }}</h3>

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="node_id" value="{{ current_node.id }}">
    <input type="submit" name="answer" value="Yes">
    <input type="submit" name="answer" value="No">
</form> -->
    
{% endblock %}