{% extends 'questions/base.html' %}

{% block content %}

{% for node in nodes %}
    <div class="questionbox">
        {% if node.no_node_id or node.yes_node_id or node.one_node_id or node.two_node_id or node.moreThanTwo_node_id %}
            <h2 class="question">{{forloop.counter}}. {{ node.question }}</h2>
        {% else %}
            <h2 class="answer">{{ node.question }}</h2>
        {% endif %}
        {% if node.no_node_id or node.yes_node_id %}
            <form id="form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="node_id" value="{{ node.pk }}">
                <input type="submit" name="answer" value="Yes" id="button">
                <input type="submit" name="answer" value="No" id="button">
            </form>
        {% elif node.one_node_id or node.two_node_id or node.moreThanTwo_node_id %}    
            <form id="form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="node_id" value="{{ node.pk }}">
                <input type="submit" name="answer" value="1" id="button">
                <input type="submit" name="answer" value="2" id="button">
                <input type="submit" name="answer" value="More than 2" id="button">
            </form>
        {% endif %}
    </div>
{% endfor %}

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>
<!-- <script type="text/javascript">
$(document).ready(function() {
    $("form").submit(function(event) {
        event.preventDefault();  // Prevent the form from being submitted

        // Collect the form data
        var formData = {
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'answer': $('input[name=answer]').val(),
        'node_id': $('input[name=node_id]').val(),
        };

        // Submit the form data using an AJAX request
        $.ajax({
        type: 'POST',
        url: '/questions/',
        data: formData,
        success: function(response) {
            // Handle the response data, if necessary
        }
        });
    });
    });
</script> -->
{% endblock %}